<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Help</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="pink">

  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>

 <div class="components">
  <img src  ="assets/q.png" width="100" height="100">
</div>
<ion-item>
  </ion-item>

<ion-content class="ion-padding">
 
<div class="Create_an_account">
  <ion-text><h1>Create an account</h1></ion-text>
</div>
    <ion-text color="primary"><h2><b>Choose a language</b></h2></ion-text>
    <ul>
      <li>First select your desired language</li>
    </ul>
    <ion-text color="primary"><h2><b>To create new user account</b></h2></ion-text>
        <ul>
          <li><p>Enter your First name</p></li>
          <li><p>Enter your Last name</p></li>
          <li><p>Enter your Email</p></li>
          <li><p>Enter your Password</p></li>
          <hr>
          <li><p>If all the above are filled, click on the login button</p></li>
          <hr>
          <li><p>Otherwise, you can log in from your Google account by clicking the Google button below. Alternatively, you can also log in from your Facebook account by clicking the Facebook button.</p></li>
        </ul>
        <ion-text color="primary"><h2>Your Mobile Number</h2></ion-text>
        <ul>
          <li>First you enter your country. Enter Sri Lanka as the country as this app is a Sri Lankan app.</li>
          <li>Then enter your nine-digit phone number excluding the zero.</li>
          <li>You will then receive an OTP code via email or SMS to your phone number.</li>
          <li>Enter that code exactly at the OTP location.</li>
        </ul>
        <ion-text color="dark"><h3><b>If all the above are filled correctly then you can proceed.</b></h3></ion-text>
         
</ion-content>
