<ion-content class="pandding" color="medium"fullscreen>
  <img src  ="assets/Grouplogo.png">
<ion-menu contentId="main-content">
  <ion-header>
  <ion-toolbar>
    <ion-title>GoBUS</ion-title>
  </ion-toolbar>		
  </ion-header>
  <ion-content>
    <div class="menu">
      <ion-item>
      <ion-button fill="clear "  expand="full" routerLink="/profile"><ion-icon name="person-circle-sharp"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Account</ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill=" clear"  expand="full"routerLink="/#"><ion-icon name="notifications-circle-sharp"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Notification</ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill=" clear"  expand="full"routerLink="/Setting"><ion-icon name="settings-sharp"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Setting</ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill=" clear "  expand="full"routerLink="/helpus"><ion-icon name="help-circle-sharp"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Help</ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill=" clear "  expand="full"><ion-icon name="log-out"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Logout</ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill=" clear "  expand="full"routerLink="/#"><ion-icon name=""></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Exit</ion-button>
    </ion-item>
</div>
    </ion-content>
  </ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
</div>
</ion-content>
