<ion-header >
  <div class="ion-toolbar">
  <ion-toolbar color="primary" >
    <ion-title>
      Time Table
    </ion-title>
  </ion-toolbar>

<ion-content class="pandding" color="medium"fullscreen>
  <img src  ="assets/logotext.png">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <table style="width: 100%; border-collapse: collapse;">
          <thead>
            <tr>
              <div class="custom-table th">
              <th>Departure</th>
              <th>Arrival</th>
            </div>
            </tr>
          </thead>
          <tbody>
            <tr>
              <div class="custom-table td">
              <td>6.30 a.m</td>
              <td>7.30 a.m</td>
            </div>
            </tr>
            <tr>
            <div class="custom-table td">
              <td>7.30 a.m</td>
              <td>8.30 a.m</td>
            </div>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </ion-col>
      <ion-col size="6">
        <table style="width: 100%; border-collapse: collapse;">
          <thead>
            <tr>
              <div class="custom-table th">
              <th>Departure</th>
              <th>Arrival</th>
            </div>
            </tr>
          </thead>
          <tbody>
            <tr>
              <div class="custom-table td">
              <td>6.30 a.m</td>
              <td>7.30 a.m</td>
            </div>
            </tr>
            <tr>
              <div class="custom-table td">
              <td>7.30 a.m</td>
              <td>8.30 a.m</td>
            </div>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
  
      

  
    <ion-button color="primary" size="small" slot="end" routerLink="/main">
      Back To Home
    </ion-button>

</ion-content>
